@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-montserrat-alt {
  font-family: "Montserrat Alternates", sans-serif;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extrabold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 992px) {
  .header {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.header .brand-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .header .brand-area {
    position: relative;
  }
}

.header .brand-area .logo {
  width: 128px;
}

@media (min-width: 576px) {
  .header .brand-area .logo {
    width: 148px;
  }
}

@media (min-width: 768px) {
  .header .brand-area .logo {
    width: 158px;
  }
}

@media (min-width: 1200px) {
  .header .brand-area .logo {
    width: 198px;
  }
}

.header .navbar-toggler {
  position: relative;
  z-index: 1;
  border: none;
}

.header .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 992px) {
  .header .nav-item .nav-link {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header .nav-item .nav-link {
    font-size: 16px;
    padding-right: 14px;
    padding-left: 14px;
  }
}

.header .dropdown .dropdown-toggle::after {
  display: none;
}

.homepage.heros {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .homepage.heros {
    padding-bottom: 64px;
  }
}

.homepage.heros .background-desk {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage.heros .subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .homepage.heros .subtitle {
    margin-bottom: 10px;
  }
}

.homepage.heros .title {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .homepage.heros .title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .homepage.heros .title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 992px) {
  .homepage.heros .title {
    font-size: 44px;
    line-height: 58px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .homepage.heros .title {
    font-size: 58px;
    line-height: 70px;
  }
}

.homepage.heros .paragraph {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .homepage.heros .paragraph {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 54px;
  }
}

.homepage.heros .btn-white {
  padding: 14px 48px;
  font-size: 14px;
  border-radius: 0px;
}

.homepage.heros .social-icons {
  list-style: none;
  margin-top: 48px;
  padding: 0;
}

@media (min-width: 768px) {
  .homepage.heros .social-icons {
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .homepage.heros .social-icons {
    margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  .homepage.heros .social-icons {
    margin-top: 96px;
  }
}

.homepage.heros .social-icons li:not(:last-child) {
  padding-right: 28px;
}

.homepage.heros .heros-carousel {
  margin-left: -32px;
  margin-right: -32px;
}

@media (min-width: 992px) {
  .homepage.heros .heros-carousel {
    min-width: 130%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.homepage.heros .heros-carousel .slide-img {
  width: 100%;
  height: 352px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  .homepage.heros .heros-carousel .slide-img {
    height: 410px;
  }
}

@media (min-width: 768px) {
  .homepage.heros .heros-carousel .slide-img {
    height: 526px;
  }
}

@media (min-width: 992px) {
  .homepage.heros .heros-carousel .slide-img {
    height: 580px;
  }
}

.homepage.heros .btn-group {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .homepage.heros .btn-group {
    margin-top: 44px;
  }
}

.homepage.heros .btn-group .btn {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

.homepage.heros .btn-group .btn:not(:last-child) {
  margin-right: 8px;
}

.homepage.heros .btn-group .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.homepage.heros .btn-group .btn.active {
  background: #000000;
}

.container {
  padding-right: 32px;
  padding-left: 32px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
/*# sourceMappingURL=style.css.map */