.text-white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.text-black {
    color: #000;
}

.bg-black {
    background-color: #000;
}

.text-gray-400 {
    color: #8896AB;
}

.bg-gray-400 {
    background-color: #8896AB;
}

.text-gray-500 {
    color: #556987;
}

.bg-gray-500 {
    background-color: #556987;
}

.text-gray-900 {
    color: #2A3342;
}

.bg-gray-900 {
    background-color: #2A3342;
}

.text-green-10 {
    color: #40AA54;
}

.bg-green-10 {
    background-color: #40AA54;
}

.text-orange-10 {
    color: #F96241;
}

.bg-orange-10 {
    background-color: #F96241;
}