@import "breakpoint";
@import "fonts";
@import "utilities";
@import "colors";
@import "components";


// Component
@import "header";
@import "footer";


// Pages
@import "homepage";



.container {
    padding-right: 32px;
    padding-left: 32px;

    @include br-up(xxl) {
        max-width: 1280px;
    }
}